.container{
    max-width: 1626px;
    padding: 0 30px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-reset{
    border: none;
    background-color:transparent;
    cursor: pointer;
    padding: 0;
}


.section-title{
   
font-size: 64px;
line-height: 80px;
color: #1C2E3D;
font-weight: 700;
}

.section-title--center{
    text-align: center;
    max-width: none;
}

.btn{
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 2.18182px;
    text-transform:uppercase ;
    border-radius: 8px;
    color: #fff;
    padding: 33px 80px;

}