.featured{
    background-image: url(../../img/fon2.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1080px;
    
    position: relative;
}

.featured-stories{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 35.3%;
    background-color: rgba(17, 31, 42, 0.9);
    padding: 126px 133px;
    margin-bottom: 127px;
    }

    .featured-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
       
    }

    .blog-article-category{
        
        font-weight: 800;
        font-size: 11px;
        line-height: 1;
        text-align: center;
        letter-spacing: 2px;
        padding: 15px 30px;
        background-color: #E8594E;
        border-radius: 100px;
        color: #fff;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 20px;

    }
     

    .blog-article-title{
        font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #fff;
    max-width: 40%;
    margin-bottom: 18px;
    }

    .blog-article-descr{
        font-family: SFCompact, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #fff;
        margin-bottom: 40px;
        max-width: 40%;
    }
    
    .blog-article-link{
        background-color:#73AFBA;
        display: inline-block;
        transition: background-color 0.3s;
    }
    .blog-article-link:hover{
        transition: background-color 0.3s;
        background-color: #4196a6;

    }
    
    .blog-article{
        padding-bottom: 100px;
    }


    .featured-title{
        font-weight: 700;
        font-size: 64px;
        line-height: 80px;
        color: #FFFFFF;
        margin-bottom: 64px;
    }

    .feature-list-article{
        border-bottom: solid 1px #4d5a5f;
        display: flex;
        align-items: flex-start;
        padding: 32px 0;

    }

    .feature-list-item:last-child .feature-list-article{
        border-bottom: 1px transparent;
    }

    .feature-list-image{
        border-radius: 100%;
        overflow: hidden;
        height: 48px;
        width: 48px;
        flex-shrink: 0;

    }

    .feature-list-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .feature-list-title{
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #fff;
        margin-bottom: 5px;
    }
    .feature-list-text{
        margin-left: 32px;
        padding-right: 35px;
    }
    

    .feature-list-time{
        font-weight: 400;
        font-family: 'SFProText-Regular', sans-serif;
        
        font-size: 11px;
        color: rgba(255, 255, 255, 0.502293);
    }
