.footer{
    border-top: 1px solid #b3b3b3;
    padding-top: 100px;
}

.footer-title{
    font-family:  'Helvetica' , sans-serif;
font-size: 12px;
position: relative;
letter-spacing: 2.15px;
text-transform: uppercase;
font-weight: bold;
color: #100E0B;
padding-bottom: 32px;
margin-bottom: 30px;
}

.footer-title::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #57A773;
    width: 48px;
    height: 1px;

}

.footer-container{
    justify-content: space-between;
}

.footer-link{
    font-size: 13px;
    line-height: 29px;
    font-weight: 500;
    color: #959EA6;
    display: inline-block;
    margin-bottom: 12px;
}

.subs-form{
    width: 368px;
}

.subs-form-fild{
    width: 100%;
    height: 64px;
    border-radius: 8px;
    border: 1px solid #E4E4E4;
    padding-left: 31px;
    background-image: url(../../img/user.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 31px) center;
    margin-bottom: 16px;
}

.subs-form-btn{
    width: 100%;
    background: #73AFBA;
    height: 64px;


}

.footer-bottom{
    border: 1px solid #E4E4E4;
    margin-top: 117px;
    padding: 32px 0 ;

    font-size: 13px;
    color: #959EA6;


}

.footer-copy{
    font-size: 13px;
    color: #959ea6;
}

.bottom-container{
    justify-content: space-between;
}

.footer-links{
    display: flex;
}

.footer-links-item{
    margin-left: 40px;
}