
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header-container{
    justify-content: space-between;
    padding-top: 55px;
    align-items: center;
    padding-bottom: 55px;
    
}

.social{
    display: flex;
    align-items: center;
}

.social-item:not(:last-child) {
    margin-right: 40px;

}

.social-link{
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.3s;
}

.social-link:hover{
    opacity: 0.8;
    transition: opacity 0.3s;

}

.social-link--fb{
    width: 11px;
    height: 20px;
    background-image: url(/img/fb.svg);
}

.social-link--tw{
    width: 20px;
    height: 17px;
    background-image: url(/img/tw.svg);
}

.logo{
   
font-size: 22px;
line-height: 22px;
font-weight: 800;
text-align: center;
letter-spacing: 2px;
color: var(--white-color);
text-transform: uppercase;
}

.burger{
    width: 48px;
    height: 10px;
    position: relative; 
   
}

.burger:hover .burger-line{
  
    transition: background-color 0.3s;
    background-color :#E8594E;
}

.burger-line{
     width: 100%;
     height: 2px;
     background-color:var(--white-color);
     display: block;
     position: absolute;
     right: 0;
     top: 0;
     transition: background-color 0.3s;
}

.burger-line:last-child{
    top: auto;
    bottom: 0;
}

.menu{
    position: fixed;
    left: -150vw;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 1000;
    background-color: rgb(17, 132, 167);
    transition: left 0.3s;
}

.menu-visible{
    left: 0;
    transition: left 0.3s;
}

.menu-nav{
width: 100%;
height: 100%;   
}

.menu-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    padding: 30px 0;
    overflow-y: auto;


}

.menu-link{
    margin-bottom: 20px;
    display: inline-block;
    transition: color 0.3s;
}

.menu-link:hover{
    transition: color 0.3s;
    color: #E8594E;
}

.menu-close{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 9%;
    top: 7%;

}

.menu-close-line{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #fff ;
}

.menu-close-line:first-child{

    transform: rotate(45deg);
}

.menu-close-line:last-child{

    transform: rotate(-45deg);
}