
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header-container{
    justify-content: space-between;
    padding-top: 55px;
    align-items: center;
    padding-bottom: 55px;
    
}

.social{
    display: flex;
    align-items: center;
}

.social-item:not(:last-child) {
    margin-right: 40px;

}

.social-link{
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    block-size: cover;
}

.social-link--fb{
    width: 11px;
    height: 20px;
    background-image: url(/img/fb.svg);
}

.social-link--tw{
    width: 20px;
    height: 17px;
    background-image: url(/img/tw.svg);
}

.logo{
   
font-size: 22px;
line-height: 22px;
font-weight: 800;
text-align: center;
letter-spacing: 2px;
color: var(--white-color);
text-transform: uppercase;
}

.burger{
    width: 48px;
    height: 10px;
    position: relative; 
}

.burger-line{
     width: 100%;
     height: 2px;
     background-color:var(--white-color);
     display: block;
     position: absolute;
     right: 0;
     top: 0;
}

.burger-line:last-child{
    top: auto;
    bottom: 0;
}