.insp{
    padding-top: 95px;
    padding-bottom: 140px;
}

.insp-descr{
    text-align: center;
    max-width: 635px ;
    margin:0 auto;
    color: #788692;
    font-family: 'SFCompact' , sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 96px;
}

.grid{
    display: grid;

}

.insp-list{
    grid-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(500px, auto);
}

.insp-text{
    position: absolute;
    left: 0;
    bottom: 48px;
    z-index: 5;
    padding: 0 40px;


}

.insp-heading{
    margin-bottom: 30px;
    text-align: center;
}


.insp-item-big{
    grid-column-end: span 2;
}

.insp-item-bigheight{
    height: 710px;
}
.insp-item{
    position: relative;
    background-color: #000;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    overflow: hidden;
}

.insp-item::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 65%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.647277) 100%);

}

.insp-category{

    font-size: 18px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 10px;
}

.insp-title{
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 25px;
    line-height: 40px;
}

.insp-people{
    display: flex;
}

.insp-people-item{
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    width: 48px;
    height: 48px;
    background-color: #fff;
}


.insp-people-item:not(:first-child){
    margin-left: -20px;
  
}







.insp-play{
    background-image: url(../../img/play.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
 position: absolute;
    left: 40px;
    top: 40px;

}

.insp-item-1{
    background-image: url(../../img/insp1.jpg);
}

.insp-item-2{
    background-image: url(../../img/insp2.jpg);
}

.insp-item-3{
    background-image: url(../../img/insp3.jpg);
}

.insp-item-4{
    background-image: url(../../img/insp4.jpg);
}

.insp-item-5{
    background-image: url(../../img/insp5.jpg);
}

.insp-item-6{
    background-image: url(../../img/insp6.jpg);
}

.insp-item-7{
    background-image: url(../../img/insp7.jpg);
}








